body{
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
}

input{
    margin: -5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgb(21, 29, 19);
    color: white;
    border-color: black;
    font-size: 0,5cm

}

#btapagar{
  
    margin-top: -5px;
    padding: 0px;
    padding-bottom: 0.5px;
    border-collapse: separate;
    border-collapse: collapse;
    border-color: black;
}

label{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    border-radius: 5px;   

}
#senha{
    margin-top: 3%;
    text-align: center;
}
#enviar{
    margin-top: 5%;
    border-radius: 2.5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    font-size: 15px;
    
}