<html>
	<head>
		<title>Cadastro do Sujeito</title>
		<link rel="stylesheet" type="text/css" href="css/cadastro.css">

	</head>
	<body>
		<div>
			
			<form action = '/experimento2' method= 'post'>

					
                <html>
                    <head>
                       <h1>Cadastro do Sujeito</h1>
                
                    </head>
                    <body>
                        <div>
                            
                            <form action = '/cadastro' method= 'post'>
                                <input  name="nome" placeholder="Nome do Sujeito" class="cadastro"></input>
                                <input  name="idade" placeholder="Idade do Sujeito" class="cadastro"></input>
                                <input  name="sexo" placeholder="Sexo do Sujeito" class="cadastro"></input>
                                <input class="condicao" type="radio" name="condicao" value="condicao1" ></input>Condição 1
                                <br>
                                <input class="condicao" type="radio" name="condicao" value="condicao2" ></input>Condição 2
                                <br>
                                <button id="enviar" type='submit'>Enviar</button>      
                                    
                            </form>
                    </div>
                    </sript>
                    </body>
					
					
					
			</form>
	</div>
	</sript>
	</body>