<html>
        <body>
	<head>
		<title>Cadastro do Sujeito</title>
		<link rel="stylesheet" type="text/css" href="css/cadastro.css">

	</head>
				

        <head>
                <h1>Cadastro do Sujeito</h1>
                
        </head>
       
                <div>
                            
                        <form action = '/condicao' method= 'post'>
                        <input  name="nome" placeholder="Nome do Sujeito" class="cadastro"></input>
                        <input  name="idade" placeholder="Idade do Sujeito" class="cadastro"></input>
                        <input  name="sexo" placeholder="Sexo do Sujeito" class="cadastro"></input>
                        <br>
                        
                        
                                <input type="submit" class="condicao" value="Condição 1" name="condicao1"> </input>
				<input type="submit" class="condicao" value = "Condição 2" name="condicao2"></input>             
                        </form>
                        
                </div>
                    
        </body>
</html>
				