<html>
        <body>
	<head>
		<title>Cadastro do Sujeito</title>
		<link rel="stylesheet" type="text/css" href="css/cadastro.css">

	</head>
				

        <head>
                        <form autocomplete="off" action='/busca1' method='POST'>	
                                <h2><input type="submit" class="HOME" value="Tempos(Condição 1)" name="HOME"></input></h2>
                        </form>
                        <form autocomplete="off" action='/busca2' method='POST'>	
                                <h2><input type="submit" class="HOME" value="Tempos(Condição 2)" name="HOME"></input></h2>
                        </form>                    
                <h1>Cadastro do Sujeito</h1>
                <% if(validacao.length>0){ %>
                        <div id="erro">
                        <%= validacao[0].msg %>
                </div>
                <% } %>	
                
        </head>
       
                <div>
                            
                        <form action = '/condicao' method= 'post'>
                        <input  name="nome" placeholder="Nome do Sujeito" value="<%= cadastro.nome %>" class="cadastro" required></input>
                        <input type="number" name="idade" placeholder="Idade do Sujeito" value="<%= cadastro.idade%>" class="cadastro" required></input>
                        <input  name="sexo" placeholder="Sexo do Sujeito" value="<%= cadastro.sexo %>" class="cadastro" required></input>
                        <br>
                        
                        
                                <input type="submit" class="condicao" value="Condição 1.1" name="condicao11"> </input>
                                <input type="submit" class="condicao" value="Condição 1.2" name="condicao12"> </input>
                                <input type="submit" class="condicao" value = "Condição 2.1" name="condicao21"></input> 
                                <input type="submit" class="condicao" value="Condição 2.2" name="condicao22"> </input>            
                        </form>
                        
                </div>
                    
        </body>
</html>
				