<html>
	<head>
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">

	</head>
	<body>
		<div>
			
			<form action = '/info1' method='post'>

					
						<input type="submit" class="inicio" value="Toque na tela para começar o experimento" name="initc2"> </input>
					
					
					
			</form>
	</div>
	</sript>
	</body>