<html>
	<head>
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">

	</head>
	<body>
		<div>
			<h1>Selecione a condição experimental</h1>
			<form action = '/redirect' method= 'post'>

					
						<input type="submit" class="condicao" value="Condição 1" name="c1"> </input>
					
						<input type="submit" class="condicao" value = "Condição 2" name="c2" ></input>
					
			</form>
	</div>
	</sript>
	</body>
	
	
</html>