<html>
	<head>
		<title>Inicio</title>
		

	</head>
	<body>
		<div>
			<h1>Selecione a condição experimental</h1>
			<form action = '/redirect' method= 'post'>

					
						<input type="submit" class="BuscaInter" value="Condição 1" name="BIP"> </input>
					
						<input type="submit" class="sair" value = "Condição 2" name="sair" ></input>
					
			</form>
	</div>
	</sript>
	</body>
	
	
</html>