<html>
	<head>
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">

	</head>
	<body>
		<div>
			
			<form action = '/experimento2' method='post'>

					
						<button type="submit"  class="info">Para retirar o som, basta preencher a senha indicada na tela no teclado virtual. Se você não tiver dúvidas quanto à instrução, toque a tela.<br> Se tiver, chame a experimentadora </button>
					
					
					
			</form>
	</div>
	</sript>
	</body>